.sideBar_component {
    .sideBarInner{
    background: #ebf2f7;
    width: 100%;
    height: 100vh;
    box-shadow: -1px 1px 8px grey;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    .userCart {
        display: flex;
        align-items: center;
        background: #fff;
        height: 80px;
        justify-content: center;
        margin-top: 30px;
        width: 240px;
        border-radius: 5px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 15px;
        }
        h4 {
            font-size: 17px;
            margin: 0;
        }
    }
    // toggleCart
    .toggleCart {
        background: #fff;
        margin-top: 20px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 240px;
        border-radius: 5px;
       h4 {
            font-size: 19px;
        }
        .toggleBtn {
            margin-top: 10px;
            background: #efefef;
            border-radius: 10px;
            width: 150px;
            height: 40px;
                .gridBtn,.listBtn {
                    background: #99efc9;
                }
                button {
                    border: none;
                    width: 75px;
                    height: 40px;
                    color: #444;
                    font-size: 20px;
                    cursor: pointer;
                }
                .firstBtn{
                    border-radius: 5px 0 0 5px;
                }
                .secondBtn{
                    border-radius: 0 5px 5px 0;
                }
                .active{
                    border-radius: 5px 0 0 5px;
                    background: #99EFC9;
                }
                .inactive{
                    border-radius: 0 5px 5px 0;
                    background: #99EFC9;
                }
        }
    }
    
    // feedBactCart
        .feedBactCart {
            width: 240px;
            background: #fff;
            margin-top: 20px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            h4 {
                font-size: 18px;
            }
            a {
                button {
                    background: #99efc9;
                    border: navajowhite;
                    height: 40px;
                    width: 150px;
                    border-radius: 5px;
                    color: #222;
                    font-weight: 700;
                    font-size: 13px;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }
}
}

// sideBarFormModal
.sideBarFormModal {
    width: 920px;
    height: 100vh;
    background: #EBF2F7;
    border-radius: 0 40px 40px 0;
    transition: width 5s;
    transition-timing-function: linear;
}

// sideBarFormLeft
.sideBarFormLeft{
    display: flex;
    align-items: center;
    flex-direction: column;
.userCart {
    display: flex;
    align-items: center;
    background: #fff;
    height: 80px;
    justify-content: center;
    margin-top: 40px;
    width: 240px;
    border-radius: 5px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 15px;
    }
    h4 {
        font-size: 17px;
        margin: 0;
    }
}

.feedBactCart {
    width: 240px;
    background: #fff;
    margin-top: 20px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    h4 {
        font-size: 18px;
    }
    a {
        button {
            background: #E29EA3;
            border: navajowhite;
            height: 40px;
            width: 150px;
            border-radius: 5px;
            color: #222;
            font-weight: 700;
            font-size: 13px;
            cursor: pointer;
            margin-top: 10px;
        }
    }
}
   
}